<!DOCTYPE html>
<html>
<head>
	<% include partials/header %>
	<title>Setting up BrowserSync with Gulp 4 and Express</title>
</head>
<body>
	
<h1>Setting up BrowserSync with Gulp 4 and Express</h1>
</body>
</html>